<div>
    <h1 style="text-align: center;"> RESERVA DE ESPACIO DE FABRICACIÓN</h1>
    <h2 style="margin-bottom: 20px;" class="font-weight-bold text-center" >Reservar espacio de fabricación</h2>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div style="width: 75%;"> 
      <form #collectionForm="ngForm" (ngSubmit)="onSubmit(collectionForm)" style="border: 2px solid #0a0a0a;  padding: 40px;">
        <div class="form-group mb-5">
            <label style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Reservas Disponibles</label>
            <div *ngIf="dateSpaces && dateSpaces.length === 0 && searchPerformed" class="alert alert-warning">
              No se encontraron espacios disponibles.
            </div>
            <div *ngFor="let dateSpace of dateSpaces">
              <label style="font-size: 18px">
                <input type="radio" name="selectedSpace" id="mueble_{{dateSpace.id}}"
                  [value]="dateSpace.id" (change)="toggleSelection(dateSpace)"  />
                <span style="font-size: 18px;">Id: {{dateSpace.id}} - Lugar: {{ dateSpace.manufacturingSpace.name }} - Desde el día {{dateSpace.available_from}} hasta el día: {{dateSpace.available_until}}</span>
              </label>
            </div>
          </div>

            
        <button type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
</div>
