<div *ngIf="rol === 'OPERATION'">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" > <img src="/assets/logo_sin_fondo.png" height="60"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/listadoEstablecerMateriales']">Establecer materiales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/']">Reserva de proveedor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Reserva espacio de fabricación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/listadoConsultarApi']">Consultas</a>
              </li>
        </ul>
        <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/logo_usuario.png" alt="Imagen" height="50">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="usuarioDropdown">
                  <li>
                    <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </nav>
</div>
<div *ngIf="rol === 'CREATIVE'">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/logo_usuario.png" alt="Imagen" height="50">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="usuarioDropdown">
                <li>
                  <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
</div>
<div *ngIf="rol === 'COMMERCIAL'">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" > <img src="/assets/logo_sin_fondo.png" height="60"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/listadoPlanificarDistribucion']">Planificar orden de distribución</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/listadoLanzarColeccionAlMercado']">Lanzar colección</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Consultas</a>
          </li>
      </ul>
      <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/logo_usuario.png" alt="Imagen" height="50">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="usuarioDropdown">
                <li>
                  <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
</div>
