<div class="login">
<form #usuarioLogin="ngForm" class="custom-form" (ngSubmit)="onSubmit(usuarioLogin)">
  <h1>Login</h1>
    <div class="form-outline form-white mb-4">
      <input [(ngModel)]="lr.username" type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Username" required />
    </div>
  
    <div class="form-outline form-white mb-4">
      <input [(ngModel)]="lr.password" type="password" id="password" class="form-control form-control-lg" name="password" placeholder="Contraseña" required />
    </div>
  
    <button class="btn btn-outline-light btn-lg px-5" type="submit">Iniciar Sesión</button>
  </form>
</div>

