<div>
    <h1 style="font-family: Times New Roman, sans-serif; margin-bottom: 70px;" class="font-weight-bold text-center" >Establecer ordenes de distribución</h1>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div style="width: 75%;"> 
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" style="border: 2px solid #0a0a0a;  padding: 40px;">
        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="quantitySubtitle" style="font-size: 1.2rem; font-family: Helvetica, sans-serif;">Cantidad de unidades de la colección: {{units}}</label>
        </div>
        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="stores" style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Tiendas: </label>
            <select required  class="form-control" id="store" name="store" [(ngModel)]="store" >
              <option *ngFor="let store of stores" [ngValue]="store" >{{ store.name }}, Id: {{store.id}}, Dirección: {{store.direction}}</option>
            </select>
        </div>

        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="quantity" style="font-size: 1.8rem;  font-family:  Helvetica, sans-serif;">Cantidad de unidades de la colección</label>
            <input type="number"  required class="form-control form-control-lg" id="quantity" name="quantity" placeholder="Cantidad" [(ngModel)]="quantity">
        </div>
        <button class="btn btn-primary" type="button" (click)="addOrder()">Agregar</button>

        <div  *ngIf="selectedStores.length > 0" class="form-group mb-5" style="margin-top: 20px;">
            <label style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Ordenes agregadas:</label>
            <ul class="list-group">
              <li *ngFor="let store of selectedStores; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                <h5>{{ store.id_store }},Cantidad:{{store.quantity}}</h5>
                <button class="btn btn-danger" type="button" (click)="deleteStore(i)">Quitar</button>
              </li>
            </ul>
          </div>

        <button *ngIf="selectedStores.length > 0" type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
</div>
