<!-- evaluate-collection.component.html -->
<div class="container">
    <h1 style="font-family: Times New Roman, sans-serif; margin-bottom: 70px;" class="font-weight-bold text-center" >Evaluar la viabilidad de la colección</h1>
    <div class="card mt-5 col-md-8 mx-auto">
        <div class="card-header">
            <h1 style="font-family: Times New Roman, sans-serif; font-size: 24px; margin-bottom: 20px;" class="font-weight-bold text-center">
                Identificador de la colección: {{ collectionId }}
            </h1>
        </div>
        <div class="card-body">
            <div class="container d-flex justify-content-center align-items-center"></div>
            <div class="row">
                <div class="col-md-7">
                    <div style="width: 75%;">
                        <div *ngIf="collectionId !== -1">
                            <p><span style="font-weight: bold;">Fecha de Inicio:</span>{{ collection.date_start_manufacture | date }}</p>
                            <p><span style="font-weight: bold;">Fecha de Fin:</span> {{ collection.date_end_manufacture | date }}</p>
                            <p><span style="font-weight: bold;">Fecha de lanzamiento:</span> {{ collection.estimated_release_date | date}} </p>
                            <p><span style="font-weight: bold;">Unidades a fabricar:</span> {{ collection.units }}</p>
                            <p *ngIf="cant_DateSpace !== -1">Cantidad de DateSpaces encontrados: {{ cant_DateSpace }}</p>
                            <!-- Otra información de la colección según tu modelo Collection -->
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center">
                        <!-- Mostrar en pantallas grandes -->
                        <div class="d-none d-md-flex flex-column justify-content-center align-items-center">
                            <button class="btn btn-primary btn-block pb-2 mb-2 mx-2" (click)="confirmReAsignarTurno(collectionId, idCase)">Reasignar Turno</button>
                            <button class="btn btn-primary btn-block pb-2 mb-2 mx-2" (click)="confirmReprogramarFechas(collectionId, idCase)">Reprogramar Fechas</button>
                            <button class="btn btn-danger btn-block pb-2 mb-2 mx-2" (click)="confirmCancelarColeccion(collectionId, idCase)">Cancelar Colección</button>
                        </div>
                        <!-- Mostrar en pantallas medianas y pequeñas -->
                        <div class="d-md-none d-flex flex-row justify-content-center align-items-center">
                            <button class="btn btn-primary btn-block pb-2 mb-2 mx-1" (click)="confirmReAsignarTurno(collectionId, idCase)">Reasignar Turno</button>
                            <button class="btn btn-primary btn-block pb-2 mb-2 mx-1" (click)="confirmReprogramarFechas(collectionId, idCase)">Reprogramar Fechas</button>
                            <button class="btn btn-danger btn-block pb-2 mb-2 mx-1" (click)="confirmCancelarColeccion(collectionId, idCase)">Cancelar Colección</button>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>