<div>
    <h1 style="font-family: Times New Roman, sans-serif; margin-bottom: 70px;" class="font-weight-bold text-center" >Establecer Materiales</h1>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div style="width: 75%;"> 
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" style="border: 2px solid #0a0a0a;  padding: 40px;">
        
        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="material" style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Material: </label>
            <select required  class="form-control" id="material" name="material" [(ngModel)]="material" >
              <option *ngFor="let material of materials" [ngValue]="material" >{{ material.name }},Descripcion:{{material.description}}</option>
            </select>
        </div>

        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="quantity" style="font-size: 1.8rem;  font-family:  Helvetica, sans-serif;">Cantidad</label>
            <input type="number"  required class="form-control form-control-lg" id="quantity" name="quantity" placeholder="Cantidad" [(ngModel)]="quantity">
        </div>
        <button class="btn btn-primary" type="button" (click)="addMaterial()">Agregar</button>

        <div  *ngIf="selectedMaterials.length > 0" class="form-group mb-5" style="margin-top: 20px;">
            <label style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Materiales agregados:</label>
            <ul class="list-group">
              <li *ngFor="let material of selectedMaterials; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                <h5>{{ material.name }},Cantidad:{{material.quantity}}</h5>
                <button class="btn btn-danger" type="button" (click)="deleteMaterial(i)">Quitar</button>
              </li>
            </ul>
          </div>

        <button *ngIf="selectedMaterials.length > 0" type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
</div>
