<div>
    <h2 style="margin-bottom: 20px;" class="font-weight-bold text-center" >Reprogramar fechas del proceso de fabricación</h2>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div style="width: 75%;"> 
      <form #collectionForm="ngForm" (ngSubmit)="onSubmit(collectionForm)" style="border: 2px solid #0a0a0a;  padding: 40px;">
        <p style="font-size: 1.5rem; font-family: Helvetica, sans-serif; margin-bottom: 20px;">Nueva fecha de entrega de materiales: {{ lastDate }}</p>
        <div class="form-group mb-5" style="margin-top: 20px;">
            <label for="date_start_manufacture" style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Fecha de Inicio*</label>
            <input [(ngModel)]="collection.date_start_manufacture" type="date" required class="form-control form-control-lg" id="date_start_manufacture" name="date_start_manufacture">
          </div>
          
          <div class="form-group mb-5">
            <label for="date_end_manufacture" style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Fecha de Fin*</label>
            <input [(ngModel)]="collection.date_end_manufacture" type="date" required class="form-control form-control-lg" id="date_end_manufacture" name="date_end_manufacture">
          </div>
          
          <div class="form-group mb-5">
            <label for="estimated_release_date" style="font-size: 1.8rem; font-family: Helvetica, sans-serif;">Fecha lanzamiento estimada*</label>
            <input [(ngModel)]="collection.estimated_release_date" type="date" required class="form-control form-control-lg" id="estimated_release_date" name="estimated_release_date">
          </div>
            
        <button type="submit" class="btn btn-success">Confirmar</button>
      </form>
    </div>
</div>